<a href="https://colab.research.google.com/github/Kerwin-G/Miscellaneous/blob/main/pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

Q1

In [ ]:
Customer1={"FirstName": 'John', "LastName": 'Smith',"Product": 'Lawnmower',"DatePurch":'2018-03-21',"Price": 139,"Online": 'Yes'}
pd.Series(Customer1, index=["FirstName","LastName","Product","DatePurch","Price","Online"])

FirstName          John
LastName          Smith
Product       Lawnmower
DatePurch    2018-03-21
Price               139
Online              Yes
dtype: object

Q2/Q3:

In [ ]:
data= np.array(['John','Smith','Lawnmower','2018-08-21','139','Yes'])
s= pd.Series(data, index=['FirstName','LastName','Product','DatePurch','Price','Online'])
print(s)
print("")
print(s.get('Price'))
print("")
s.loc[['Product','DatePurch','Online']]

FirstName          John
LastName          Smith
Product       Lawnmower
DatePurch    2018-08-21
Price               139
Online              Yes
dtype: object

139

Product       Lawnmower
DatePurch    2018-08-21
Online              Yes
dtype: object

In [ ]:
data1= {
    "Customer1":['John','Smith','Lawnmower','2018-03-21',139,'Yes'],
    "Customer2":['Matilda','Shumann','dining table','2019-05-10',245.95,'No']}
pd.DataFrame(data1, index=['FirstName','LastName','Product','DatePurch','Price','Online'])

            Customer1     Customer2
FirstName        John       Matilda
LastName        Smith       Shumann
Product     Lawnmower  dining table
DatePurch  2018-03-21    2019-05-10
Price             139        245.95
Online            Yes            No

In [ ]:
Data=({"FirstName": 'John', "LastName":'Smith',"Product": 'Lawnmower',"DatePurch":'2018-03-21',"Price": 139,"Online":'Yes'},
      {"FirstName": 'Matilda', "LastName":'Shumann',"Product": 'dining table',"DatePurch":'2019-05-10',"Price": 245.95,"Online":'No'})
pd.DataFrame(Data,index=["Customer1","Customer2"])

          FirstName LastName       Product   DatePurch   Price Online
Customer1      John    Smith     Lawnmower  2018-03-21  139.00    Yes
Customer2   Matilda  Shumann  dining table  2019-05-10  245.95     No

In [ ]:
dat= {
    "Customer1":pd.Series(['John','Smith','Lawnmower','2018-03-21',139,'Yes'],index=["FirstName","LastName","Product","DatePurch","Price","Online"]),
    "Customer2":pd.Series(['Matilda','Shumann','dining table','2019-05-10',245.95,'No'],index=["FirstName","LastName","Product","DatePurch","Price","Online"]) 
}
dff=pd.DataFrame(dat)
print(dff)
print(" ")
print(dff.iloc[2:4]) #Product and Date
print("")
print(dff.loc[["FirstName","LastName","Online"], : ])
print("")
dff.loc[['FirstName','DatePurch'],"Customer2"]

            Customer1     Customer2
FirstName        John       Matilda
LastName        Smith       Shumann
Product     Lawnmower  dining table
DatePurch  2018-03-21    2019-05-10
Price             139        245.95
Online            Yes            No

            Customer1     Customer2
Product     Lawnmower  dining table
DatePurch  2018-03-21    2019-05-10

          Customer1 Customer2
FirstName      John   Matilda
LastName      Smith   Shumann
Online          Yes        No

FirstName       Matilda
DatePurch    2019-05-10
Name: Customer2, dtype: object

In [ ]:
d = {'a': [1, 2, 3, 4],'b': [4, 3, 2, 1]}
dd=pd.DataFrame(d,index=['first','second','third','fourth'])
dd.loc[['first'],'a':'b']

       a  b
first  1  4

In [ ]:
data=pd.DataFrame(np.random.rand(10,5))
data.rename(columns={0:'A',1:'B',2:'C',3:'D',4:'E'}, inplace=True)
print(data)
print("")
print(data.mean(axis=1)) #row mean
print("")
print(data.mean()) #column mean

          A         B         C         D         E
0  0.584707  0.522020  0.723771  0.494234  0.955171
1  0.114893  0.633782  0.146341  0.653972  0.844794
2  0.343192  0.091213  0.199102  0.525347  0.368854
3  0.716030  0.992999  0.691404  0.110056  0.249540
4  0.204908  0.296363  0.760987  0.079203  0.709275
5  0.005691  0.144619  0.367628  0.372542  0.267424
6  0.428540  0.290663  0.153114  0.296218  0.668612
7  0.451293  0.996648  0.918307  0.210644  0.943262
8  0.223671  0.466651  0.750209  0.550541  0.142475
9  0.524699  0.397397  0.225734  0.670338  0.071312

0    0.655981
1    0.478756
2    0.305542
3    0.552006
4    0.410147
5    0.231581
6    0.367430
7    0.704031
8    0.426709
9    0.377896
dtype: float64

A    0.359762
B    0.483236
C    0.493659
D    0.396309
E    0.522072
dtype: float64

10A.)  in the dictioary used for defining a dataframe the key is the column with the values being a list of values for each row.
in the above dictionaries the key and values are listed in pairs not specifically a column with a list of row values.

In [ ]:
# Number of sales made by an employee
sales = {'Tony': 103,
'Sally': 202,
'Randy': 380,
'Ellen': 101,
'Fred': 82
}
# Employees and the region they work in
region = {'Tony': 'West',
'Sally': 'South',
'Carl': 'West',
'Archie': 'North',
'Randy': 'East',
'Ellen': 'South',
'Fred': np.nan,
'Mo': 'East',
'HanWei': np.nan,
}
sales_df = pd.DataFrame.from_dict(sales, orient='index', columns=['sales'])
region_df = pd.DataFrame.from_dict(region, orient='index', columns=['region'])
total_df = region_df.join(sales_df, how='left')

print(sales_df)
print("")
print(region_df)
print("")
print(total_df)
by_regiondf= pd.merge(total_df,sales_df)
print(by_regiondf)
group=by_regiondf.groupby(["region"])
print(group)

       sales
Tony     103
Sally    202
Randy    380
Ellen    101
Fred      82

       region
Tony     West
Sally   South
Carl     West
Archie  North
Randy    East
Ellen   South
Fred      NaN
Mo       East
HanWei    NaN

       region  sales
Tony     West  103.0
Sally   South  202.0
Carl     West    NaN
Archie  North    NaN
Randy    East  380.0
Ellen   South  101.0
Fred      NaN   82.0
Mo       East    NaN
HanWei    NaN    NaN
  region  sales
0   West  103.0
1  South  202.0
2   East  380.0
3  South  101.0
4    NaN   82.0
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f78651edb50>